/*COLORS*/

$color: (
        normal-gray: #878787,
        light-gray: #a1a1a1,
        head: #000000,
        layer0: #0C0C0C,
        layer1: #E0E0E0,
        layer2: #F2F2F2,
        layer3: #EBEBEB,
        brand-blue: #1174E6,
        brand-green: #36B07F,
        brand-yellow: #F2C618,
        brand-orange: #F78521,
        brand-red: #F52323,
        brand-white: #FAFAFA,
        link: #1174E6,
        sidebar-bg: #171b1f,
        sidebar-text: #fdfdfd,
        btn-light: #f8f9fa,
        btn-import: rgba(17, 116, 230,.8)
);